@use "../util" as color;
@use "../util" as font;

html,
body {
  overflow-x: hidden;
  position: relative;
}

body {
  font-family: font.$font-family;
}
// request-invite
.request-invite {
  display: block;
  background: linear-gradient(130deg, color.$lime-green, color.$bright-cyan);
  border-radius: 50px;
  color: color.$white;
  font-size: 12px;
  padding: 0.7rem;
  width: 150px;
  text-decoration: none;
  text-align: center;
}

@mixin body($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 71.875rem) {
      @content;
    }
  }

  @if $breakpoint == laptop {
    @media only screen and (max-width: 71.875rem) {
      @content;
    }
  }

  @if $breakpoint == tablet1 {
    @media only screen and (max-width: 37.5rem) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (max-width: 30rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 23.438rem) {
      @content;
    }
  }
}

// same
.middle,
.bottom {
  display: grid;
  place-content: center;
  align-items: start;
}

// top
.top {
  min-height: 40.938rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
  gap: 2rem;
  // mockups
  .mockups {
    position: absolute;
  }
  &-content {
    max-width: 26.875rem;
    color: color.$grayish-blue;
    &-title {
      color: color.$dark-blue;
      font-weight: font.$fw-300;
      line-height: 1.2;
    }
  }
  @include body(desktop) {
    background: {
      color: color.$very-light-gray;
      image: url(../app/images/bg-intro-desktop.svg);
      repeat: no-repeat;
      position: top -16rem right -32.5rem;
    }

    &-content {
      position: relative;
      left: 120px;

      &-title {
        font-size: 3rem;
      }

      &-text {
        margin: 40px 0;
      }
    }

    .mockups {
      right: -8rem;
    }
  }

  @include body(laptop) {
    background: {
      color: color.$very-light-gray;
      image: url(../app/images/bg-intro-desktop.svg);
      repeat: no-repeat;
      position: top -35rem right -32.5rem;
    }

    display: flex;
    flex-direction: column-reverse;

    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin-bottom: 1.5rem;
      &-title {
        font-size: 2rem;
      }

      &-text {
        font-size: 14px;
        margin: 1.5rem;
      }
    }
    // mockups
    .mockups {
      height: 550px;
      top: -8rem;
    }
  }

  @include body(tablet) {
    &-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      &-title {
        font-size: 2.5rem;
        line-height: 1.3;
      }
      &-text {
        font-size: 14px;
      }
    }

    // mockups
    .mockups {
      height: 470px;
      top: -6rem;
    }
  }

  @include body(mobile) {
    background: {
      color: color.$very-light-gray;
      image: url(../app/images/bg-intro-mobile.svg);
      repeat: no-repeat;
      position: top 0 left 0;
    }
    // mockups
    .mockups {
      height: 420px;
      top: -6rem;
    }
  }
}

// middle
.middle {
  background: color.$light-grayish-blue;
  min-height: 42.188rem;

  &-content {
    color: color.$grayish-blue;
    margin-top: 60px;
    max-width: 615px;
    @include body(laptop) {
      text-align: center;
    }
    @include body(tablet) {
      text-align: center;
    }
    h2 {
      color: color.$dark-blue;
      font-weight: font.$fw-400;
    }

    p {
      margin-top: 40px;
    }
  }
}
// bottom
.bottom {
  background: color.$very-light-gray;
  min-height: 40.938rem;

  &-content {
    color: color.$grayish-blue;
    @include body(laptop) {
      text-align: center;
    }
    @include body(tablet) {
      text-align: center;
    }
    h2 {
      color: color.$dark-blue;
      font-weight: font.$fw-400;
      margin: 90px 0 55px;
    }
  }
}

// card container
.card-container {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1110px;
  margin-bottom: 80px;

  @include body(laptop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include body(tablet1) {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    margin: auto;
    color: color.$grayish-blue;
    border-radius: 0.3rem;
    overflow: hidden;
    width: 255px;

    // card middle
    &-middle-icon {
      margin-top: 75px;
      @include body(tablet) {
        margin-left: auto;
        margin-right: auto;
      }
    }
    &-middle-title {
      color: color.$dark-blue;
      font-weight: font.$fw-400;
      margin: 45px 0 30px;
    }

    // content
    &-content {
      padding: 1.5rem 1rem;

      &-title {
        color: color.$dark-blue;
        cursor: pointer;
        font-size: font.$font-size;
        font-weight: color.$fw-400;
        line-height: 1;
        margin: 0.5rem 0;
      }
      &-title:hover {
        color: color.$lime-green;
      }
      &-name {
        font-size: 11px;
        font-weight: color.$fw-300;
      }
      &-text {
        font-size: 13px;
      }
    }
  }

  .middle-card {
    @include body(tablet) {
      text-align: center;
    }
  }
  .middle-text {
    margin-top: 40px;
  }

  &-bottom-img {
    height: 200px;
    object-fit: cover;
  }

  .bottom-card {
    background: color.$white;
    height: 395px;
  }
}
