@use "../util" as color;
@use "../util" as font;

body {
  font-family: font.$font-family;
}

.top {
  background: color.$very-light-gray;
  min-height: 40.938rem;
}

// same
.middle,
.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.middle {
  background: color.$light-grayish-blue;
  min-height: 42.188rem;
}

// bottom
.bottom {
  min-height: 40.938rem;
}
.card-container {
  margin: auto;

  // layout
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  border: 2px solid green;
  max-width: fit-content;
}

.card {
  height: 395px;
  width: 255px;
}

// request-invite
.request-invite {
  text-decoration: none;
  background: linear-gradient(130deg, color.$lime-green, color.$bright-cyan);
}
