@use "../util" as color;
@use "../util" as font;

@mixin footer($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (min-width: 48rem) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 48rem) {
      @content;
    }
  }
}

// footer
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: color.$dark-blue;
  min-height: 11.875rem;

  // media query
  @include footer(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.footer-logos {
  &-socials {
    display: flex;
    gap: 0.8rem;

    margin-top: 3.438rem;

    @include footer(mobile) {
      flex-direction: row;
      align-items: center;
    }
  }
}

.footer-nav {
  display: flex;
  gap: 2rem;
  @include footer(mobile) {
    gap: unset;
    flex-direction: column;
    text-align: center;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer-nav-link {
  color: color.$white;
  text-decoration: none;
}

.copy-container {
  @include footer(mobile) {
    text-align: center;
  }
}

.copy {
  color: color.$grayish-blue;
  margin-top: 3.438rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
