@use "../util" as color;
@use "../util" as font;

// footer
.footer {
  background: color.$dark-blue;
  min-eight: 11.875rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
