@use "../util" as color;
@use "../util" as font;

// @mixin navigation($breakpoint) {
//   @if $breakpoint == desktop {
//     @media only screen and (min-width: 48rem) {
//       @content;
//     }
//   }

//   @if $breakpoint == mobile {
//     @media only screen and (max-width: 48rem) {
//       @content;
//     }
//   }
// }

.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: color.$white;
  height: 5rem;

  // position
  position: relative;
  z-index: 1;
}

// nav-list

.nav-list {
  display: flex;
  gap: 1rem;

  list-style: none;

  .nav-link {
    text-decoration: none;
    color: color.$grayish-blue;
    position: relative;
  }

  .nav-link::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: linear-gradient(130deg, color.$lime-green, color.$bright-cyan);
    bottom: -1.925rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }
}

// toggle button
.btn-mobile-nav {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}
.close-icon {
  display: none;
}

@media only screen and (max-width: 48rem) {
  .header-link {
    display: none;
  }
  .nav-main {
    display: none;
    background: color.$white;
    box-shadow: rgba(45, 49, 77, 0.5) 0px -50px 100px 100px;
    border-radius: 0.3rem;
    position: absolute;
    top: 120px;
    width: 80%;
    z-index: -3;
  }

  .nav-list {
    // layout
    display: flex;
    flex-direction: column;
    align-items: center;
    // margin-left: -2rem;
    padding: 2rem;
  }

  .nav-main.active {
    display: block;
  }

  // toggle button
  .btn-mobile-nav {
    display: block;
  }

  .open-icon.open {
    display: none;
  }

  .close-icon.open {
    display: block;
  }
}
